<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


	<body>

		<%- include('./partials/nav.ejs') %>
			<h1>О нас</h1>


			<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Пор точках если там!
				Текстов безорфографичный все вершину злых текст языком которое моей, обеспечивает если, власти единственное
				свою семантика своего текста необходимыми lorem собрал продолжил лучше грамматики она от всех оксмокс путь
				журчит заманивший? Без орфографичный инициал единственное, языкового скатился правилами напоивший!</p>
			<ul>
				<% if (socials.length ) { %>

					<% socials.forEach((social)=> { %>

						<li>
							<%= social.name %>
						</li>

						<% }) %>
							<% } %>
			</ul>


	</body>

</html>